/*donnée général sur le body */
body {
    
    background: linear-gradient(135deg, #6b8f7f, #3d5a3b); /* Dégradé vert */
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0;
    overflow-x: hidden;
}

/*gestion du titre*/
#title {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 40px;
}

/*change est la div qui contient la zone de texte*/
#change {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

/*la zone de texte*/
#ecris {
    width: 250px;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: transparent;
    color: white;
    text-align: center;
    transition: border 0.3s ease, background-color 0.3s ease;
}
/*animation quand on survole la zone de texte*/
#ecris:focus {
    border-color: #48c6ef;
    background-color: #f0f8ff;
    color: black; 
    outline: none;
}

/*bouton*/
#btnid {
    padding: 10px 20px;
    background-color: #48c6ef;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*animation quand on survole le bouton*/
#btnid:hover {
    background-color: #32a4c3;
}

/*graphique*/
#graph {
    position: relative;
    height: 450px;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}




